<div class="main_tittle">
  <a href="/tasks">To Do List</a>
</div>

<div class="settion">
  <%= render 'shared/app' %>
  
  <%= form_for(@task) do |f| %>
    
    <table>
      
      <tr>
        <th>タイトル</th>
        <td><%= f.text_field :tittle %></td>
      </tr>
      
      <tr>
        <th>開始日</th>
        <td><%= f.date_field :bigin %></td>
      </tr>
      
      <tr>
        <th>終了日</th>
        <td><%= f.date_field :finish %></td>
      </tr>
      
      <tr>
        <th>終日</th>
        <td><%= f.check_box :allday %>終日の場合はチェックを入れます</td>
      </tr>
      
      <tr>
        <th>スケジュールメモ</th>
        <td><%= f.text_area :memo , size: "30x10" %></td>
      </tr>
      
      
    </table>
    
    <div class="link">
    <ul>
      <li><%= f.submit "登録する"%></li>
      
  <% end %>
      <li><%= button_to '削除', task_path, method: :delete, data: { confirm: "本当に削除しますか？" } %></li>
    </ul>
  </div>
</div>