<div class="main_tittle">
  <a href="/tasks">To Do List!!</a>
</div>

<%= render 'shared/app' %>
  
<div class="settion">
    <a href="https://7f12e8764bea49be9dfbf168e711c013.vfs.cloud9.ap-northeast-1.amazonaws.com/tasks/new" class="btn btn-svg">
    <svg>
      <rect x="2" y="2" rx="0" fill="none" width=200 height="50"></rect>
    </svg>
    <span>make new！</span>
    </a>
    
  
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
  
  <table>
    <thead>
      <tr>
        <th>タスク名</th>
        <th>開始日</th>
        <th>終了日</th>
        <th>終日</th>
        <th>参照</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
    </thead>
    <tbody>
      <% @tasks.each do |task| %>
        <tr>
          <td><%= task.tittle %></td>
          <td><%= task.bigin %></td>
          <td><%= task.finish %></td>
          
          <!--終日にチェック（＝１）の時にまる-->
  
          <% if task.allday == 1 %>
          <td><%= task.allday ="◯"%></td>
          
          <% else %>
          <td><%= task.allday =" " %></td>
          <% end %>
          
          <td><%= link_to "参照", task %></td>
          <td><%= link_to '編集', edit_task_path(task) %></td>
          <td><%= button_to '削除', task_path(task), method: :delete, data: { confirm: "本当に削除しますか？" } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
