<div class="main_tittle">
  <a href="/tasks">To Do List</a>
</div>

<div class="settion">
  <%= render 'shared/app' %>
  
    <table>
      <tr>
      <th>タイトル</th>
      <td><%= @task.tittle %></td>
     </tr>
     <tr>
      <th>開始日</th>
      <td><%= @task.bigin %></td>
     </tr>
     <tr>
      <th>終了日</th>
      <td><%= @task.finish %></td>
     </tr>
     <tr>
      <th>終日</th>
      <% if @task.bigin == @task.finish %>
          <td><%= "◯"%></td>
          <% else %>
          <td><%=  %></td>
      <% end %>
     </tr>
     <tr>
      <th>スケジュールメモ</th>
      <td><%= @task.memo %></td>
     </tr>
    </table>
  
  <div class="link">
    <ul>
      <li><%= link_to 'スケージュールを編集する', edit_task_path %></li>
      <li><%= button_to '削除', task_path, method: :delete, data: { confirm: "本当に削除しますか？" } %></li>
    </ul>
  </div>
</div>
